.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.badge--small {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  font-size: 0.8rem;
}
